{% extends 'user/user_layout.html' %}

{% block content %}

<main id="main" class="main">
    {% include 'flashMsg.html' %}
    <div class="pagetitle">
        <h1>Deposit Funds</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Deposit</li>
                <li class="breadcrumb-item active">Card Deposit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <div style="text-align: center; padding-top: 2.5rem; padding-bottom: 2.5rem;">
                            <h3><strong>Crypto Investment</strong></h3>
                            <img style="margin-bottom: 8px; width: 5rem; height: 5rem;"
                                src="../../static/images/user/btc.png">
                            <div>
                                <small><strong>Total Holdings:
                                    </strong><span>${{current_user.crypto_bal}}</span></small><br>
                                <small><strong>Past Performance: </strong><span>+20% last
                                        month</span></small><br>
                                <small><strong>Current Value: </strong><span>$2,400</span></small>
                            </div>

                        </div>
                        <div class="">
                            <form action="{{url_for('crypto')}}" method="POST">
                                <div class="col-lg-12">
                                    <label for="inputAddress2" class="form-label"><strong>Amount
                                            ($)</strong></label>
                                    <input name="amount" type="number" class="form-control" placeholder="Enter Amount"
                                        required>
                                    <small style="color: gray;"><strong>Acc Bal. = ${{current_user.account_bal}}
                                        </strong><span>( Investment
                                            amount should not exceed account bal. )</span></small>
                                </div>
                                <div class="col-lg-12 mt-4">
                                    <label for="inputCity" class="form-label"><strong>Duration
                                        </strong><span style="color: gray;">(<small> weekly </small>)</span></label>
                                    <input name="duration" type="number" class="form-control" id="inputCity"
                                        placeholder="Enter Duration in weeks" required>
                                </div>

                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary">Make Payment</button>
                                </div>
                            </form><!-- End Multi Columns Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}