{% extends 'user/user_layout.html' %}

{% block content %}

<main id="main" class="main">
    {% include 'flashMsg.html' %}
    <div class="pagetitle">
        <h1>Invest In Gold </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Deposit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <div style="text-align: center; padding-top: 2.5rem; padding-bottom: 2.5rem;">
                            <h3><strong>Gold Investment</strong></h3>
                            <img style="margin-bottom: 8px; width: 8rem; height: 5rem;"
                                src="../../static/images/user/goldy.png">
                            <div>
                                <small><strong>Total Holdings =
                                        <span><em style="color: gray;">
                                                $
                                                {{'{:,.2f}'.format(gold_investment.invested_amount or
                                                0)}}</em></span></strong></small><br>

                                <small><strong>Past Performance =
                                        {% if gold_investment.percentage_increase and gold_investment.is_active %}
                                        <span style="color: green;"><em> +
                                                {{gold_investment.percentage_increase}}%</em></span></strong></small><br>

                                {% elif gold_investment.percentage_decrease and gold_investment.is_active %}
                                <span style="color: red;"><em> -
                                        {{gold_investment.percentage_decrease}}%</em></span></strong></small><br>
                                {% else %}
                                <span style="color: gray;"><em> 0.00%</em></span></strong></small><br>
                                {% endif %}
                                <small><strong>Current Value =
                                        <span><em style="color: gray;">
                                                $
                                                {{'{:,.2f}'.format(gold_investment.balance or
                                                0)}}</em></span></strong></small>
                            </div>
                        </div>
                        <div class="">
                            <form action="{{url_for('createGoldInvestment')}}" method="POST">
                                <div class="col-lg-12">
                                    <label for="inputAddress2" class="form-label"><strong>Amount
                                            ($)</strong></label>
                                    <input type="number" name="amount" class="form-control" placeholder="Enter Amount"
                                        required>
                                    <small style="color: gray;"><strong>Acc Bal. =
                                            ${{'{:,.2f}'.format(current_user.account_bal)}}
                                        </strong><span>( Investment
                                            amount should not exceed account bal. )</span></small>
                                </div>
                                <div class="col-lg-12 mt-4">
                                    <label for="inputCity" class="form-label"><strong>Duration
                                        </strong><span><strong>(</strong><small>weekly</small><strong>)</strong></span></label>
                                    <input type="number" name="duration" class="form-control" id="inputCity"
                                        placeholder="Enter Duration in weeks" required>
                                </div>

                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary">Make Payment</button>
                                </div>
                            </form><!-- End Multi Columns Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>

{% endblock content %}