{% extends 'user/user_layout.html' %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Transactions History</h1>
        <!-- <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav> -->
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>
                                        <small>Transaction ID</small>
                                    </th>
                                    <th><small>Amount</small></th>
                                    <th><small>Description</small></th>
                                    <th><small>Date</small></th>
                                    <th><small>Status</small></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for transaction in transactions %}
                                <tr>
                                    <td><small>QTZ0000{{transaction.id}}</small></td>
                                    <td><small>$ {{ "{:,.2f}".format(transaction.amount) }}</small></td>
                                    {% if transaction.investment_type %}
                                    <td><small>{{transaction.investment_type.name}}</small></td>
                                    {% else %}
                                    <td><small>{{transaction.transaction_type}}</small></td>
                                    {% endif %}
                                    <td><small>{{ transaction.timestamp.strftime("%b %d, %Y at %I:%M %p") }}</small>
                                    </td>
                                    <td><small>Completed</small></td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock content %}