{% extends 'admin/adminLayout.html' %}
{% block content %}
<!-- MAIN -->
<main id="main" class="main">
    {% include 'flashMsg.html' %}
    <div class="pagetitle">
        <h1>Add Balance <span style="color: grey;"> ( to {{user.firstname}} {{user.lastname}} )</span></h1>

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('adminDashboard')}}">Dashboard</a></li>
                <li class="breadcrumb-item active">Add Balance</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Balance <span>= ${{user.account_bal}}</span></h5>
                    <!-- Floating Labels Form -->
                    <form class="row g-3" action="{{ url_for('accountBalance', user_id=user.id ) }}" method="POST">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="float" name="account_bal" class="form-control" id="floatingName"
                                    placeholder="Enter Amount" required>
                                <label for="floatingName">Enter Amount ($)</label>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-info">Top Up</button>
                        </div>
                    </form><!-- End floating Labels Form -->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{ url_for('static', filename='images/user/goldy.png') }}" alt="gold"
                            style="width: 25px; height: 25px; margin-right: 5px;">
                        Gold Bal.<span>= ${{ gold_investment.balance }}</span>
                    </h5>

                    <!-- Floating Labels Form -->
                    <form class="row g-3" action="{{ url_for('goldBalance', user_id=user.id ) }}" method="POST">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="float" step="any" name="amount" class="form-control" id="goldAmountInput"
                                    placeholder="Enter amount" required>
                                <label for="goldAmountInput">Enter Profit/Loss Amount</label>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" name="action" value="profit" class="btn btn-outline-info">Add
                                Profit</button>
                            <button type="submit" name="action" value="loss" class="btn btn-outline-danger">Deduct
                                Loss</button>
                        </div>
                    </form><!-- End floating Labels Form -->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{ url_for('static', filename='images/user/btc.png') }}" alt="gold"
                            style="width: 25px; height: 25px; margin-right: 5px;">
                        Crypto Bal.<span>= ${{ crypto_investment.balance }}</span>
                    </h5>

                    <!-- Floating Labels Form -->
                    <form class="row g-3" action="{{ url_for('cryptoBalance', user_id=user.id ) }}" method="POST">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="float" step="any" name="amount" class="form-control" id="goldAmountInput"
                                    placeholder="Enter amount" required>
                                <label for="goldAmountInput">Enter Profit/Loss Amount</label>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" name="action" value="profit" class="btn btn-outline-info">Add
                                Profit</button>
                            <button type="submit" name="action" value="loss" class="btn btn-outline-danger">Deduct
                                Loss</button>
                        </div>
                    </form><!-- End floating Labels Form -->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{ url_for('static', filename='images/user/fx.png') }}" alt="gold"
                            style="width: 25px; height: 25px; margin-right: 5px;">
                        Forex Bal.<span>= ${{ forex_investment.balance }}</span>
                    </h5>

                    <!-- Floating Labels Form -->
                    <form class="row g-3" action="{{ url_for('forexBalance', user_id=user.id ) }}" method="POST">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="float" step="any" name="amount" class="form-control" id="goldAmountInput"
                                    placeholder="Enter amount" required>
                                <label for="goldAmountInput">Enter Profit/Loss Amount</label>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" name="action" value="profit" class="btn btn-outline-info">Add
                                Profit</button>
                            <button type="submit" name="action" value="loss" class="btn btn-outline-danger">Deduct
                                Loss</button>
                        </div>
                    </form><!-- End floating Labels Form -->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{ url_for('static', filename='images/user/stock.png') }}" alt="gold"
                            style="width: 25px; height: 25px; margin-right: 5px;">
                        Stock Bal.<span>= ${{ stock_investment.balance }}</span>
                    </h5>

                    <!-- Floating Labels Form -->
                    <form class="row g-3" action="{{ url_for('stockBalance', user_id=user.id ) }}" method="POST">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="float" step="any" name="amount" class="form-control" id="goldAmountInput"
                                    placeholder="Enter amount" required>
                                <label for="goldAmountInput">Enter Profit/Loss Amount</label>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" name="action" value="profit" class="btn btn-outline-info">Add
                                Profit</button>
                            <button type="submit" name="action" value="loss" class="btn btn-outline-danger">Deduct
                                Loss</button>
                        </div>
                    </form><!-- End floating Labels Form -->
                </div>
            </div>
        </div>
    </div>
</main>
<!-- MAIN -->
{% endblock content %}