<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MacVestUniversal</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- <link href="{{ url_for('static', filename='user/img/favicon.png') }}" rel="icon"> -->
    <link href="{{ url_for('static', filename='user/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='user/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='user/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='user/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='user/vendor/quill/quill.snow.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='user/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='user/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='user/vendor/simple-datatables/style.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='user/css/style.css')}}" rel="stylesheet">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180"
href="{{ url_for('static', filename='images/favicon_io/apple-touch-icon.png ') }}">
<link rel="icon" type="image/png" sizes="32x32"
href="{{ url_for('static', filename='images/favicon_io/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16"
href="{{ url_for('static', filename='images/favicon_io/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='images/favicon_io/site.webmanifest') }}">

</head>
</head>



<body>

    <!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{{ url_for('userDashboard') }}" class="logo d-flex align-items-center">
            <img src="{{ url_for('static', filename='images/logo6.png') }}" alt="">
            <span class="d-none d-lg-block">MacVest Admin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <!-- Profile Dropdown -->
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    {% if current_user.is_authenticated and current_user.profile_image %}
                        <img src="{{ url_for('static', filename='images/profile/' ~ current_user.profile_image) }}"
                             alt="Profile" class="rounded-circle">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/profile/profile-default.png') }}"
                             alt="Profile" class="rounded-circle">
                    {% endif %}
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ current_user.lastname }}</span>
                </a><!-- End Profile Image Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ current_user.firstname }} {{ current_user.lastname }}</h6>
                        <span>Admin1</span>
                    </li>

                    <li><hr class="dropdown-divider"></li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{ url_for('profile') }}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>

                    <li><hr class="dropdown-divider"></li>

                    <!-- Help -->
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{ url_for('contactUs') }}">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>

                    <li><hr class="dropdown-divider"></li>

                    <!-- Logout -->
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{ url_for('logout') }}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->


    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">


        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('adminDashboard') }}">
                    <i class="bi bi-grid"></i>
                    <span>Admin Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed " href="{{ url_for('users') }}">
                    <i class="bi bi-person"></i>
                    <span>All Users</span>
                </a>
            </li><!-- End Profile Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('createTrader') }}">
                    <i class="bi bi-file-earmark"></i>
                    <span>Create Trader</span>
                </a>
            </li><!-- End Blank Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('addInvestmentTypes') }}">
                    <i class="bi bi-file-earmark"></i>
                    <span>Investment Types</span>
                </a>
            </li><!-- End Blank Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('userDashboard') }}">
                    <i class="bi bi-grid"></i>
                    <span>Back To Home</span>
                </a>
            </li><!-- End Dashboard Nav -->


            <br>
            <hr>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('adminSetting') }}">
                    <i class="bi bi-file-earmark"></i>
                    <span>Settings</span>
                </a>
            </li><!-- End Blank Page Nav -->


        </ul>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const links = document.querySelectorAll(".sidebar-nav .nav-link");
                links.forEach(link => {
                    if (link.href === window.location.href) {
                        link.classList.remove("collapsed");
                        link.classList.add("active");
                    }
                });
            });


        </script>

    </aside><!-- End Sidebar-->



    {% block content %}
    {% endblock content %}

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>MacVestUniversal</span></strong>. All Rights Reserved
        </div>
      
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='user/vendor/apexcharts/apexcharts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='user/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='user/vendor/chart.js/chart.umd.js')}}"></script>
    <script src="{{ url_for('static', filename='user/vendor/echarts/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='user/vendor/quill/quill.js')}}"></script>
    <script src="{{ url_for('static', filename='user/vendor/simple-datatables/simple-datatables.js')}}"></script>
    <script src="{{ url_for('static', filename='user/vendor/tinymce/tinymce.min.js')}}"></script>
    <script src="{{ url_for('static', filename='user/vendor/php-email-form/validate.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='user/js/main.js')}}"></script>

</body>

</html>