<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | MacVest Universal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Montserrat:wght@600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicon_io/apple-touch-icon.png ') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon_io/site.webmanifest') }}">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for ('home') }}" style="color: #eab308;">MacVest Universal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{{ url_for ('home') }}">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for ('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Investments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for ('transactions') }}">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for ('profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ url_for ('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <!-- Dashboard Footer Section -->
    <footer class="dashboard-footer">
        <div class="container text-center">
            <p>&copy; 2025 MacVest Universal. All Rights Reserved.</p>
            <p>
                <a href="#">Privacy Policy</a> |
                <a href="#">Terms of Service</a> |
                <a href="#">Contact</a>
            </p>
        </div>
    </footer>



    <script>
        function copyReferralLink() {
            var copyText = document.querySelector('.referral-link');
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(copyText.value);
            alert("Referral link copied: " + copyText.value);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>